PORT=5005
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/codegalaxy?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
NODE_ENV=production

# AI Settings
AI_PROVIDER=groq
GROQ_API_KEY=your_groq_api_key_here
GEMINI_KEY=your_gemini_key_here
